@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="container"> 
<h1 class="fg-red text-center" style="text-align:center">Server Error :(</h1>
</br>
<hr>
<h2 class="fg-white text-center" style="text-align:center">An error occurred while processing your request.</h2>
<h2 class="fg-white text-center" style="text-align:center">Please let us know about the bug in <a class="fg-darkRed" href="~/support/MyTickets">support</a>.</h2>
<h2  class="fg-white text-center" style="text-align:center">Sincerely. Project server Pen.Guin.Com and Pen.Guin team!</h2>
<hr>
</div>
