
@{
    ViewBag.Title = "SendEmail";
}
    <div class="container text-center">
        <h1>A confirmation email has been sent to your email!</h1>
        <h2>Please confirm your Email. Sincerely, <span class="fg-darkRed">Pen.Guin.Com</span> Server</h2>
    </div>

